* {
    padding: 0;
    margin: 0;
}

.topBox {
    top: 0;
    height: 50px;
    background-color: pink;
    width: 100%;
    position: relative;
}

.backToFirst {
    position: absolute;
    float: left;
    left: 20px;
    height: 28px;
    width: 40px;
    margin-top: 11px;
    background-color: #fff;
    text-align: center;
}

.sign {
    position: absolute;
    margin-top: 11px;
    right: 20px;
    float: right;
    height: 28px;
    width: 50px;
    background-color: black;
    text-align: center;
}


/* -----分隔符------- */

.navBox {
    top: 0;
    height: 100px;
    background-color: orange;
    width: 100%;
    position: relative;
}

.logoBox {
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 10px;
    left: 80px;
    background-color: #fff;
    position: absolute;
}

.searchBox {
    width: 500px;
    height: 80px;
    right: 300px;
    float: right;
    margin-top: 10px;
    margin-left: 50px;
    background-color: red;
    position: absolute;
}

.searchArea {
    width: 320px;
    height: 40px;
    float: left;
    position: absolute;
    margin-top: 20px;
}

.searchButton {
    width: 160px;
    height: 40px;
    right: 10px;
    float: left;
    position: absolute;
    margin-top: 22px;
}


/* -----分隔符------- */

.midBox {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background-color: #747547;
    position: relative;
}

.bigPicture {
    left: 70px;
    position: absolute;
    margin-top: 15px;
    width: 470px;
    height: 470px;
    background-color: purple;
}

.midRightBox {
    right: 70px;
    position: absolute;
    margin-top: 15px;
    width: 780px;
    height: 470px;
    background-color: yellow;
}

.detailBox {
    margin-top: 10px;
    width: 100%;
    height: 800px;
    background-color: #666777;
    position: relative;
}

.bottomBox {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background-color: blue;
    position: relative;
}