@font-face {
  font-family: "iconfont"; /* Project id 2508348 */
  src: url('//at.alicdn.com/t/font_2508348_flwvjhq3d7f.woff2?t=1619763899860') format('woff2'),
       url('//at.alicdn.com/t/font_2508348_flwvjhq3d7f.woff?t=1619763899860') format('woff'),
       url('//at.alicdn.com/t/font_2508348_flwvjhq3d7f.ttf?t=1619763899860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e607";
}

.icon-xiaomi:before {
  content: "\e661";
}

.icon-sousuo:before {
  content: "\e623";
}
